body {
  font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #000;
  background-color: #E8E8E8;
	margin: 0px;
  -webkit-font-smoothing: antialiased;
}
/* General
------------------------------------------------------ */
.clear {
	clear: both;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
/*
------------------------------------------------------ */
.banner {
    background: linear-gradient(to right, #415CBF 0, #39DDD5 100%);
    display: block;
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
    top:-20px;
}
.banner .banner-bg {
    position: absolute;
    top: -666px;
    left: -2002px;
    -webkit-filter: grayscale(0.8) blur(4px);
}
.banner-content {
  display: block;
  position: absolute;
  top: 20px;
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 50px;
}
.banner-content .banner-content-header {
  font-size: 40px;
}
.parent-elemntsofsb {
  background-color: #fff;
  padding: 40px 0;
  margin-top: -20px;
}
.elemntsofsb-wrapper {
  width:1200px;
  margin:0 auto;
}
.parent-elemntsofsb .elemntsofsb {
  float: left;
  width: 300px;
  height: 300px;
  text-align: center;
}
.parent-elemntsofsb .elemntsofsb .elemntsofsb-caption {
  padding: 20px;
  font-size: 24px;
}
a.facebook-loginbtn {
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    border: 1px solid;
    font-size: 16px;
    margin: 20px 0px;
    display: inline-block;
}
a.facebook-loginbtn:hover {
  color: #fff;
  text-decoration: none;
  border-color: #3b5998;
}
#home-events {
  width100%;
  text-align:centre;
}
#home-events .individual-events {
  border: 1px solid #ccc;
  padding: 5px;
  width: 270px;
  text-align: left;
  color: #fff;
  margin: 0 auto;
  margin-top: 4px;
  border-radius: 4px;
  background-color: transparent;
}
.individual-events {
  padding: 5px;
  width: 400px;
  text-align: left;
  color: #fff;
  margin: 0 auto;
  margin-top: 4px;
  border-radius: 4px;
  background-color: #fff;
}
#home-events .individual-events a {
  color:#fff;
}
.individual-events img,
#home-events .individual-events img {
  padding-right: 4px;
}
a.viewmore {
  color:#ccc;
  text-decoration:underline;
}
.facebook-profilepic {
  float: left;
  width: 50px;
}
footer.site-footer {
    background-color: #FFF;
    height: 100%;
    padding: 40px;
    margin-top: 40px;
}
footer img {
	border: 0;
	width: 150px;
}
